body{
    color: white;
    background-color: black;
    text-align: center;
}

header{
    color: #B40001;
    font-family: alura;
}

iframe{
    border-radius: 10mm;
}
h1{
    color:#FED700;
    font-family: myfont;
    
   
}
h6{

    color:white;
    font-size: 5mm;
    font-family: carros
}
 
p{
    color:#D60000;
    font-family: linked;
    font-size: 10mm;
    
}

